.container img{
    width: 75px;
}

.container{
    margin-bottom: 100px;
    
}
.cat1, .cat2, .cat3, .cat4{
    height: 300px;
    border-radius: 10px;
}
.cat1{
    background-color: #F8FFFB;
}
.cat2{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px #ebe9e9;
}
.cat3{
    background-color: #F8FFFB;
}
.cat4{
    background-color: #F8FFFB;
}